@media screen and (max-width: 1024px) {
   .promo {
      padding: 21px 50px 93px;
   }

   .header {
      &__logo {
         width: 200px;

         img {
            width: 100%;
         }
      }
   }

   .benefits {
      &__items {
         padding: 0 20px 0;
      }

      &__item {
         width: 230px;
      }

      .wrap {
         display: contents;
      }
   }
}

@media screen and (max-width: 768px) {
   .header {
      &__logo {
         width: 275px;
      }

      &__offisial {
         display: none;
      }
   }

   .promo {
      &__wrapper {
         align-items: center;
         text-align: center;
      }

      &__icon {
         width: 80px;
      }
   }

   .benefits {
      &__items {
         flex-direction: column;
         align-items: center;
      }

      &__item {
         width: 300px;

         &:not(:last-child) {
            margin-bottom: 20px;
         }
      }

      &__icon {
         width: 100px;
      }
   }

   @media screen and (max-width: 576px) {
      .header {
         &__logo {
            width: 170px;
         }
      }

      .promo {
         padding: 21px 10px 30px;

         &__icons {
            width: 300px;
            margin-top: 90px;
         }

         &__icon {
            width: 70px;
         }

         &__link {
            font-size: 13px;
            margin-top: 30px;

            a {
               font-size: 13px;
            }
         }
      }
   }

   .benefits {
      padding: 50px 0 50px;
   }
}
