.benefits {
   padding: 73px 0 65px;

   &__items {
      display: flex;
      justify-content: space-between;
      margin-top: 65px;
   }

   &__item {
      width: 270px;
      text-align: center;
   }

   &__icon {
      width: 70px;
      margin: 0 auto;
      width: 70px;

      img {
         width: 100%;
         display: block;
         margin: 0 auto;
      }
   }

   &__title {
      font-weight: 700;
      font-size: 18px;
      color: $main_text_color;
      margin: 20px 0;
   }

   &__descr {
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      color: $main_text_color;

      a {
         font-size: 16px;
         line-height: 18px;
         text-decoration-line: underline;
         color: #ff0000;
      }
   }

   .wrap {
      display: none;
   }
}
