.benefits {
   padding: 73px 0 65px;

   &__items {
      display: flex;
      justify-content: space-between;
      margin-top: 65px;
   }

   &__item {
      width: 275px;
      text-align: center;
   }

   &__icon {
      margin-bottom: 30px;

      img {
         display: block;
         margin: 0 auto;
      }
   }

   &__title {
      font-weight: 700;
      font-size: 18px;
      color: $main_text_color;
      margin-bottom: 20px;
   }

   &__descr {
      font-weight: 500;
      font-size: 17px;
      line-height: 18px;
      color: $main_text_color;
   }
}
