.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__logo {
      width: 250px;

      img {
         width: 100%;
      }
   }

   &__offisial {
      font-weight: 500;
      @include adaptiv-font(12, 10);
      color: $second_text_color;
      text-align: center;

      span {
         display: block;
         @include adaptiv-font(18, 14);
         line-height: 29px;
         margin-top: 10px;
      }
   }

   &__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
   }

   &__phone {
      display: block;
      font-weight: 700;
      @include adaptiv-font(18, 14);
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 5px;
   }
}
