.title {
   font-weight: 700;
   @include adaptiv-font(30, 20);
   line-height: 30px;
   text-align: center;
   color: $main_text_color;
   text-transform: uppercase;

   &__main {
      @include adaptiv-font(42, 30);
      line-height: 45px;
      color: $second_text_color;
   }

   &__left {
      @include adaptiv-font(36, 20);
      line-height: 54px;
      color: $second_text_color;
      text-align: left;
   }
}

@media screen and (max-width: 768px) {
   .title {
      &__left {
         text-align: center;
      }
   }
}
